[submodule "hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git